<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="activity.lanou3g.com.giftsay">

    <!--获取网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".ui.app.GiftSayApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_giftsay"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.WelcomActivity">

        </activity>

        <activity android:name=".ui.activity.SelectiveRvInfoActivity"/>
        <activity android:name=".ui.activity.SelectiveLvInfoActivity"/>
        <activity android:name=".ui.activity.SendGirlFriendActivity"/>
        <activity android:name=".ui.activity.DayRecomedactivity"/>
        <activity android:name=".ui.activity.StartegyRvInfoAcitvity"/>
        <activity android:name=".ui.activity.StartegySeachAllInfoActivity"/>
        <activity android:name=".ui.activity.StartegyClassGridInfoActivity"/>
        <activity android:name=".ui.activity.StartegyClassGrideAllActivity"/>
        <activity android:name=".ui.activity.StartegyNewGrideAllActivity"/>
        <activity android:name=".ui.activity.StartegyStyleGridInfoActivity"/>
        <activity android:name=".ui.activity.StartegyNewGridInfoActivity"/>
        <activity android:name=".ui.activity.SingleProductInfoActivity"/>
        <activity android:name=".ui.activity.LogInActivity"/>

    </application>

</manifest>